
 .card-bio{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
}
 .card-bio .imgBx{
    position: relative;
    left:25px;
    z-index: 1;
    width: 500px;
    height: 400px;
}
 .card-bio .imgBx img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
 .card-bio .contentBx{
    position: relative;
    right: 25px;
    width: 500px;
    padding: 20px 60px 20px 100px;
    height: 400px;
    background-color: #3586ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .card-bio .contentBx:before{
    content: '';
    position: absolute;
    top:-50px;
    bottom: -50px;
    left: 0;
    right: 0;
    background: #3586ff;
    z-index:-1;
}
 .card-bio .contentBx h2{
    font-size: 30px;
    color:#fff;
    font-family: 'Roboto',sans-serif;
}

 .card-bio .contentBx p{
    margin-top:10px;
    color:#fff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
}

 .card-bio .contentBx a{
    display: inline-block;
    margin-top:15px;
    color:#fff;
    text-decoration: none;
    padding: 10px;
    border:1px solid #fff;
}
@media(max-width:1000px){
    .conrainer .card-bio{
        flex-direction: column;
        max-width: 350px;
    }
     .card-bio .imgBx{
        width:100%;
        height: 250px;
        left:0;
    }
     .card-bio .contentBx{
        width: 100%;
        height: auto;
        right: 0;
        padding:30px;
        text-align: center;
    }
     .card-bio .contentBx:before{
        top:0;
        bottom: 0;
    }
}