@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

 .card-project{
    transition: 0.5s;
    width:350px;
    height:520px;
    margin:30px;
    padding:20px 20px;
    border-radius: 40px;
    background: #fafafa;;
    box-shadow: -6px -6px 20px rgba(255,255,255,.1),
                6px 6px 20px rgba(0,0,0,.1)    
        ;
}
 .card-project.buileo:hover{
    background-color: rgb(116, 196, 44);
}
.card-project.ep:hover{
    background-color: rgb(252, 188, 28);
}

.card-project.artelyes:hover{
    background-color: rgb(212, 180, 52);
}
 .card-project:hover{
    background: rgba(232, 60, 76,1);
    transition: 0.5s;
    box-shadow: inset -6px -6px 20px rgba(255,255,255,0.5),
                inset 6px 6px 20px rgba(0,0,0,.05)    
        ;
}
 .card-project:hover .imgBx img{
    box-shadow: 0 0 10px #fff, 
                0 0 10px #fff,  
                0 0 10px #fff ,
                0 0 10px #fff;
    background:white
}
 .card-project:hover .contentBx p, .card-project:hover .contentBx h2,.card-project:hover .contentBx .description{
    color:#fff;
}
.card-project .contentBx .type{
    margin-top: -20px;
    font-family: 'Comfortaa';
    font-style: italic;
    font-size: 14px;
}
.card-project:hover .contentBx a{
    background-color: #fff;
}

 .card-project .imgBx{
    position:relative;
    text-align:center;
}
 .card-project .imgBx img{
    width: 110px;
    height: 90px;
}
 .card-project .contentBx{
    position:relative;
    text-align:center;
    margin-top:-10px;
}
 .card-project .contentBx h2{
    color:#0f0f0f;
    font-weight:700;
    font-size: 1.4em;
}

 .card-project .contentBx p.description{
    color:#0f0f0f;
    height: 90px;
}
.card-project .contentBx p{
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 15px;

}
 .card-project .contentBx a{
    display: inline-block;
    padding:10px 20px;
    margin-top:15px;
    margin:3px;
    border-radius:40px;
    color:#0f0f0f;
    text-decoration: none;
    box-shadow: -6px -6px 20px rgba(255,255,255,.1),
                6px 6px 20px rgba(0,0,0,.1)    
        ;
}
.card-project .contentBx a i{
    margin-right: 3px;
}
.card-project .contentBx .tech{
    margin-bottom: 10px;
    height: 100px;
}
.card-project .contentBx .links{
    margin-top: 25px;
}
.card-project .contentBx .links a{
    transition: 0.5s;
}
.card-project:hover .contentBx .links a{
    background-color: #000;
    color:#fff;
    transition: 0.5s;
}