.about-container{
    display: flex;
    flex-direction: column;
}
.about-section{
    width:100%;
    display: flex;
    flex-direction: column;
}
.about-section .about-section-title{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-weight: lighter;
}
.about-section .interest-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
