@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
.timeline{
    font-family:  'Montserrat', sans-serif;  
    width:100%;
    padding: 40px 0;
    box-sizing: border-box;
}

.timeline:before{
    content:'';
    margin-top: 100px;
    margin-left:10px; 
    position: absolute;
    width:0.5px;
    height:35%;
    background:#c5c5c5;
}

.timeline ul{
    margin: 0;
    padding: 0;
}

.timeline ul li {
    /* position: relative; */
    width: 95%;
    padding: 20px 40px;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.timeline ul li{
    margin-top: 30px;
    clear: both;
    display: flex;
    flex-wrap: wrap;    
}

.timeline-content{
    padding-bottom: 20px;
    position: relative;
    left: 5%;
    width:100%;
    word-wrap: break-word;
    ;
}



.timeline ul li:before{
    content:'';
    /* position: absolute; */
    /* top:24px; */
    /* left:-61%; */
        margin-left:10px; 
    position: relative;
    left:-45px;
    width:10px;
    height: 10px;
    background: rgba(0,0,0,1);
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    z-index: 1000;
}
.timeline ul li h3{
    margin:0;
    padding:0;
    font-weight:600;
    color:  #000;
    font-size:25px;
} 
.timeline ul li p{
    margin:10px 0 0 ;
    padding:0;
    font-size: 16px;
    font-family: 'Roboto';
}
.timeline ul li .timeline-time h4{
    margin: 0;
    padding: 0; 
    font-size:12px;
    font-weight: 600;

}


.timeline ul li .timeline-time{
    position: relative;
    top:-20px;
    margin: 10px;   
    padding:5px 14px;
    background: #3586ff;;
    color:#fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px #3586ffa1;
}
@media(max-width:839px){
    .timeline:before{
        height: 35%;
    }
}

