.curved-div {
    position: relative;
    background: #3586ff;
    text-align: center;
    overflow: hidden;
  }
  .curved-div svg {
    /* display: flex; */
    width:100%;
    height: 100%;
    z-index: 1;

  }
  .curved-div .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .curved-div .content h3{
    color:#fff;
  }
  .curved-div.upper {
    background: #fff;
  }