
.course{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,.2);
    display: flex;
    max-width:100%;
    margin: 10px;
    overflow: hidden;
    height: 230px;
    width:470px;
    
}
.course h6{
    opacity: .6;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.course h2{
    font-size: 20px;
    line-height: 25px;

}
.course h2 span{
    display: block;
    height: 10px;
}
.course h2 i{
    font-size: 48px; 
    margin-bottom: 10px;
}
.course .preview{
    background:#3586ff;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:200px;
    position: relative;
}

.course .info{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course .info .p {
    font-size:12px;
    font-weight: bold;
}
.course .content{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
