.wave-button
{
    position:relative;
    display:block;
    padding:10px 20px;   
    /* border:2px solid #00aeff; */
    background-color: #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);    
    border-radius: 20px;
    /* text-transform: uppercase; */
    font-size: 18px;
    color:#000;
    text-decoration: none;
    overflow: hidden;
    margin-bottom: 10px;
}
.wave-button span{
    position:relative;
    font-family: 'Oxygen';
    z-index:1;
    transition: 1s;
}
.wave-button span i{
    margin-right: 5px;
}
.wave-button .wave{
    position: absolute; 
    top:calc(100% + 22px);
    left:0;
    width: 100%;
    height: 100%;
    background: #00aeff;
    transition:1s;  
}
.wave-button:hover .wave{
    top:0;
}
.wave-button:hover span{
    color:#fff
}
.wave-button .wave:before{
    content: '';
    position: absolute;
    top:-22px;
    left:0;
    width:100%;
    height: 22px;
    background: url(wave.png);
    animation: animateWave 0.5s linear infinite;
}
@keyframes animateWave{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 118px;
    }
}