@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Amiri|PT+Serif&display=swap');

.header-color{
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


@media(max-width: 763px) {
  .landing-grid{
   overflow-y:scroll;
    overflow-x:hidden;
  }
  }


.landing-grid{
    text-align: center;
    display: flex;
    padding:20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    height:100%;
}
.avatar-img{
  height:450px;
  padding-top:5em;
}

.banner-text{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  opacity:.8;
  width:75%;
  margin:auto;
  border-radius:10px;
  padding:5px;
  margin-top: 50px;
}

.banner-text h1{
  display:flex;
  font-size:66px;
  font-weight: bold;
  color:white;
}
.banner-text hr{
  border-top:1px solid white;
  width:50%;
  margin:auto;
}

.banner-text p {
  color:white;
  font-size:20px;
  padding:1em;
}
.social-links{
  display: flex;
  justify-content: space-between;
  width:50%;
  flex-wrap: wrap;
  margin:auto;
}
.social-links a{
  color:white;
  font-size: 5em;
  padding:8px;
}

.projects-grid{
  display: flex;
  flex-direction: row;
}

.contact-body{
  margin: auto;
  position:fixed;
  width:100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.contact-grid{
  text-align:center;
  justify-content: center;
  width:80%;
  height:550px;
  background: white;
  color:black;
  margin-bottom:20px ; 
}

.contact-grid h2{
  font-family:'Lobster',sans-serif;
  font-weight: bold;
}
.contact-grid hr{
  border-top:5px dotted black;
  width:50%;
  margin:auto;
}
.contact-list i{
  font-size: 66px;
  padding-right:5rem;
}

.resume-right-col{
  /* background:#27221F; */
  color:black;
  /* padding:2em; */
}
.skill-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.skill-item{
  margin: 1px;
  
}

.skills-block{
  min-height: 600px;
  padding: 40px 0;
}

.language-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:10px;
  font-size: 18px;
}

.resume-container{
  background: #f8f8f8;
  display: flex;
  flex-direction: row;
  font-family:  'Montserrat', sans-serif; 
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.experiences-block{
  flex:1.2;
  margin-left:20px;
  margin-right:25px;
}
.other-blocks{
  display: flex;
  margin-left:20px;
  margin-right:25px;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex:1
}
.language-block{
  flex:0.8;
}
.card-gogo{
        border: initial;
        background: white;
        border-radius: 15px;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
        margin-bottom:20px;
        margin-left:5px;
        margin-right: 5px;;
}
.language-education-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.education-block{
  flex:1
}
.section-title-resume{
  font-family: "Lobster";
}