@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Amiri|PT+Serif&display=swap');


.mdl-layout__drawer-button{
  color:rgba(0,0,0) !important;
}

@media(max-width: 763px) {
  .landing-grid{
   overflow-y:scroll;
    overflow-x:hidden;
  }
  }


.landing-grid{
    text-align: center;
    display: flex;
    /* padding:20px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    height:100%;
}
.landing-grid h3{
  font-family: 'Roboto';
  margin-bottom: 40px;
  font-weight: lighter;
}
.avatar-img{
  height:450px;
  padding-top:5em;
}

.banner-text{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  opacity:.8;
  width:75%;
  margin:auto;
  border-radius:10px;
  padding:5px;
  margin-top: 50px;
}

.banner-text h1{
  display:flex;
  font-size:66px;
  font-weight: bold;
  color:white;
}
.banner-text hr{
  border-top:1px solid white;
  width:50%;
  margin:auto;
}

.banner-text p {
  color:white;
  font-size:20px;
  padding:1em;
}


.projects-grid{
  background-image: url(/src/back.png);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-body{
  margin: auto;
  position:fixed;
  width:100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.contact-grid{
  text-align:center;
  justify-content: center;
  width:80%;
  height:550px;
  background: white;
  color:black;
  margin-bottom:20px ; 
}

.contact-grid h2{
  font-family:'Lobster',sans-serif;
  font-weight: bold;
}
.contact-grid hr{
  border-top:5px dotted black;
  width:50%;
  margin:auto;
}
.contact-list i{
  font-size: 66px;
  padding-right:5rem;
}

.resume-right-col{
  /* background:#27221F; */
  color:black;
  /* padding:2em; */
}
.skill-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.skill-item{
  margin: 10px;
  
}

.skills-block{
  /* min-height: 600px; */
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.language-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:10px;
  font-size: 18px;
}

.resume-container{
  background-image: url(/src/back.png);
  display: flex;
  flex-direction: column;
  font-family:  'Montserrat', sans-serif; 
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.experiences-block{
  width: 80%;;  
  margin-left:20px;
  margin-right:25px;
}

.language-block{
  flex:0.8;
}
.card-gogo{
        border: initial;
        background: white;
        border-radius: 15px;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
        margin-bottom:20px;
        margin-left:5px;
        margin-right: 5px;;
}
.language-education-block {
  display: flex;
  width:80%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}

.section-title-resume{
  font-family: "Roboto";
  font-weight: lighter;
}

.wave-section{
  position:relative;
  width: 100%;
  height:100vh;
  background:#3586ff;
  overflow: hidden;
}

.wave-section .wave{
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100px;
  background:url(/src/wave.png);
  background-size: 1000px 100px;

}

.wave-section .wave.wave1{
  z-index: 1000;
  animation:animate 30s linear infinite;
  opacity: 1;
  animation-delay:0s;
  bottom:0
}
.wave-section .wave.wave2{
  z-index: 999;
  animation:animate2 15s linear infinite;
  opacity: 0.5;
  animation-delay:-5s;
  bottom:10px;
}
.wave-section .wave.wave3{
  z-index: 998;
  animation:animate 30s linear infinite;
  opacity: 0.2;
  animation-delay:-2s;
  bottom:15;
}
.wave-section .wave.wave4{
  z-index: 997;
  animation:animate2 5s linear infinite;
  opacity: 0.7;
  animation-delay:-5s;
  bottom:20px;
}
@keyframes animate{
  0%{
      background-position-x:0
  }
  100%{
      background-position-x: 1000px;
  }
}
@keyframes animate2{
  0%{
      background-position-x:0
  }
  100%{
      background-position-x: -1000px;
  }
}


.landing-skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  align-items: center;
  margin-bottom: 10px;
}
.landing-skills-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  align-items: center;
}

.landing-skills-container .img-landing-skill{
  flex:0.8;
  width:100%;
  height:550px;
}
.landing-skills-container .img-landing-skill img{
  position: relative;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.section-app-content{
    z-index: 100000 !important;
    position: relative;
    background: #fff;
    width:100%;
    min-height: 100vh;
    margin-bottom: 740px;
    box-sizing: border-box;
}
footer{
  position:fixed;
  bottom:0;
  left:0;
  z-index:1;
  width:100%;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
  flex-wrap: wrap;
  background-color: #3586ff;
  color:#fff;
  font-size:5em;
}
.mdl-layout{
  position: relative !important;
}
.last-section-landing{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
}

.landing-last-experience{
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  margin-top: -80px;
  z-index: 10000;
}
.last-experience{
  width:100%;
  padding: 20px 40px;
  margin:30px;
  border-radius: 20px;
  text-align: left;
  background: #fafafa;;
  box-shadow: -6px -6px 20px rgba(255,255,255,.1),
  6px 6px 20px rgba(10, 10, 10, 0.1)    
  ; 
}
.last-experience .time{
  color:#fff;
  padding:10px;
  width:100px;
  background: #3586ff;
  border-radius: 20px;
}
.last-experience .description{
  margin-top:7px
}

.about-me-landing{
  width: 40%;
  padding:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -150px;
  z-index: 10000;
}

.profil-landing{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
}
.profil-landing-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 90%;
}
.profil-landing .profil-info{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  flex: 0.6;
}
.profil-landing .profil-info h1{
  font-family: 'Roboto',sans-serif;
  font-size: 168px;
  font-weight: 100;
  text-align: center;
  color:#fff;
}
.profil-landing .profil-info h2{
  font-family: 'Roboto',sans-serif;
  font-size: 28px;
  font-weight: 100;
  margin-top: -30px;
  color:#fff;
}
.js-stack-img{
  flex:0.4;
  margin-top: 60px;
  width:100%;
  height:700px;
}
.js-stack-img img{
  left:0;
  top:0;
  width:100%;
  height: 100%;
  object-fit: cover;
}