.landing-projects-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
   
  }
  .landing-projects{
    display: flex;
    flex-direction: row;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
.landing-project-img{
    width: 550px;
    height: 550px;
}
.landing-project-img img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .landing-projects-container .landing-project */
@media(max-width:1449px){
  .landing-project-img{
    order: 3 !important;
  }
}

@media(max-width:540px){
  .landing-project-img{
    width: 350px;
    height: 350px;
}
  .landing-projects-container  .landing-projects-title{
    margin-top: 40px;
  }
  .landing-projects-container .landing-projects .card-project{
    width:310px;
    height:520px;
  }
  .landing-projects-container .landing-projects .card-project .contentBx .type{
      font-size: 12px;
      margin-top: -25px;
  }
  .landing-projects-container .landing-projects .card-project .contentBx h2{
    color:#0f0f0f;
    font-weight:700;
    font-size: 1.3em;
}

.landing-projects-container .landing-projects .card-project .contentBx p{
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 13px;
  }
  .chip-image{
    width:20px;
    height:22px;
}
}
@media(max-width:417px){
  .landing-projects-container .landing-projects .card-project{
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media(max-width:383px){
  .landing-projects-container .landing-projects .card-project{
    margin-left: 5px;
    margin-right: 5px;
  }
}